/* GLOBAL STYLES
-------------------------------------------------- */
body {
    color: #5a5a5a;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serifsans-serif
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serifsans-serif
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-wrapper {
    position: relative; z-index: 15;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel {
    margin-bottom: 60px;
    /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    margin-top: -90px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px; background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;top: 0;left: 0; min-width: 100%; height: 500px;
}
/* MARKETING CONTENT
-------------------------------------------------- */
.marketing {
    padding-left: 15px;
    padding-right: 15px;
}
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    text-align: center;
    margin-bottom: 20px;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
}
/* Featurettes
------------------------- */
.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300; line-height: 1; letter-spacing: -1px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
    /* Remove the edge padding needed for mobile */
    .marketing {
/*        padding-left: 0; padding-right: 0;*/
    }
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 10px;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px; font-size: 21px; line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}
@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}
.navbar-inverse {
    background-color: rgba(39,85,165,1); border:none;
}
.navbar-inverse .navbar-brand {
    font-weight: bold; color: #fff;
}
.navbar-brand.logo {
    display: block; width: 161px; height: 70px; text-indent: -9999px; margin-top: -18px;
    background: url(../images/jebmarket.png) no-repeat 0 0px;
    -webkit-transition: background 0.5s; -moz-transition: background 0.5s; transition: background 0.5s;
}
.navbar-brand.logo:hover {
    background-position: 0 -70px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #4090de;
}
.navbar-inverse .navbar-nav>li>a {
    color: #adc7f0; text-transform: uppercase;
}
.bs-callout {
    margin: 20px 0;padding: 15px 30px 15px 15px;border-left: 5px solid #eee;
}
.bs-callout h4 {
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code, .bs-callout .highlight {
    background-color: #fff;
}
.bs-callout-danger {
    background-color: #fcf2f2;border-color: #dFb5b4;
}
.bs-callout-info {
    background-color: #f0f7fd;border-color: #d0e3f0;
}
.bs-callout-warning {
    background-color: #fefbed;border-color: #f1e7bc;
}
span.required {
    color: red; font-weight: normal; vertical-align: middle; font-size: 1.4em;
}
.footer {
    border-top: 1px solid #eee; margin: 10px auto 10px; padding: 20px 0 
}
.footer-menu a {
    font-size: 12px; text-transform: uppercase;
}
.footer-menu .separator {
    color: #ddd; font-size: 12px
}
.footer-logo {
    display: block; width: 115px; height: 50px;  text-indent: -9999px; margin-top: -10px;
    background: url(../images/footer-logo.png) no-repeat 0 -50px;
    -webkit-transition: background 0.5s; -moz-transition: background 0.5s; transition: background 0.5s;
}
.footer-logo:hover {
    background-position: 0 0px
}
.control-hint {
    font-style: italic; font-size: 12px
}
h1.page-title, .h1.page-title {
    font-size: 30px;color: #EC6030;border-bottom: 1px solid #f5f5f5;padding: 10px 0; margin: 10px 0;
}
.panel .list-group {
    margin-bottom: 0;
}
.sidebar {
    padding-top: 20px
}
.filters td {
    background: #eee;
}
.filters input {
    width: 100%;
}
.list-view .label {
    margin-top: -35px;
}
.page-title > a {
    color: rgba(39,85,165,1);
}
.panel-group .panel {
    margin-bottom: 5px
}
.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
  border-top: none; border-bottom: 1px dotted #ddd;  
}

.navbar {
    min-height: 0;
}
.navbar-nav > li > a {
    padding-bottom: 12px;
    padding-top: 12px;
}
.navbar-footer > li > a {
    display: inline; padding: 5px 10px
}
.navbar-top > li > a {
    padding: 0px; width: 24px; height: 24px; text-indent: -9999px; outline: none; border-radius: 1px; margin: 0; margin-left: 8px;
}
.navbar-top > li > a.facebook {
    background: url(../icon/social/facebook.png) no-repeat center center
}
.navbar-top > li > a.twitter {
    background: url(../icon/social/twitter.png) no-repeat center center
}
.navbar-top > li > a.google {
    background: url(../icon/social/google.png) no-repeat center center
}
ul.nav.nav-pills.navbar-footer {
    display: inline-block
}
.nav-pills.navbar-top > li {
    float: right
}
.nav-pills.navbar-top > li + li {
    margin-left: 0
}
.navbar.navbar-main {
    margin-bottom: 0; margin-top: 8px
}
.dropdown-menu>li>a {
    text-transform: uppercase; font-size: 13px
}
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:focus {
    background: #20488e;
}
.dropdown-menu {
    border-top: none
}
.navbar-nav>li>.dropdown-menu {
    background: #20488e;
}
.dropdown-menu>li>a {
    padding: 5px 15px; color: #fff;    
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #2755a5;
}